<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TwoButtons.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00ED7C931C083E350026B964</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00ED7CAC1C083E360026B964</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00ED7CB71C083E360026B964</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
